body {
  background: #e9e9e9;
  margin: 0 auto;
  background-image: url(spikes.png);
}

header {
  color: #ffffff;
  float: left;
}

.name {
  background-color: #4aaaa5;
  padding: 25px;
  height: 25px;
  margin: auto;
}

li {
  list-style-type: none;
  padding: 0px 10px;
}

.navigation {
  float: right;
}

ul {
  display: flex;
}

.header {
  position: relative;
  height: 75px;
  background: #ffffff;
}

.contact {
  position: relative;
  margin: 0 auto;
  background: #ffffff;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  font-family: "Georgia", Times, "Times New Roman", serif;
  border-color: #cccccc;
  color: #4aaaa5;
  border: 5px;
}

.nav-item {
  float: right;
}

.form-group {
  margin: 0 auto;
  border-color: #666666;
  color: #777777;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #666666;
  text-align: center;
  border-top: 8px solid #4aaaa5;
  height: 25px;
  flex-shrink: 0;
  margin: 0;
}

.btn-btn-primary {
  background: #4aaaa5;
  margin: 0 auto;
  padding: 5px;
}
