body {
    background:#e9e9e9;
    margin: 0 auto;
    background-image: spikes.png;
    background-size: cover;
    background-image: url(spikes.png)
}

header {
    color: #ffffff;
    float: left;
    border: 15px;
    margin: 0px;
    padding-left: 50px;
}

.header{
    position: relative;
    height: 50px;
    background: #ffffff;
    margin: 0;
    top: 0;
}

.name{
    background-color: #4aaaa5;
    padding: 20px;
    border: 20px;
    height: 10px;
    margin: auto;
}


.nav-justify-content-en{
    float: right;
}

.nav-link{
    float: right;
}

h1{
    border: #cccccc;
    background-color: #ffffff;
    text-align: center;
    
    font-family: font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
}
p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    text-align: center;
}

.header{
        position: relative;
        height: 50px;
        background: #ffffff;
        margin: 0;
        top: 0;
    }

#bio-image{
    float: bottom;
    position: relative;
    top: 150px;
    left: 10px;
}

.wrapper{
    height: 100%;
    margin-bottom: -50px;
}

.push{
    height: 50px;
}

#footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    height: 25px;
    flex-shrink: 0;
    margin: 0;
}

#main{
    float:center;
}

#content{
    float: left;
    background: white;
    text-align: center;
}

.class{
    width: 1024px;
    margin: 0 auto;
}



